registry=https://nexus.nos.sh/repository/npm-all/
always-auth=true
timeout=120000
//nexus.nos.sh/repository/npm-all/:_authToken=NpmToken.7a6e956d-ad99-3ac0-b74e-248ff4ea2c00
//nexus.nos.sh/repository/npm/:_authToken=NpmToken.7a6e956d-ad99-3ac0-b74e-248ff4ea2c00
prefix=/home/node/.npm
# force=true